<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.CustMapper">
	
	<select id="select" parameterType="String" resultType="Cust">
		SELECT * FROM cust WHERE custid=#{custid}
	</select>
	<select id="selectall" resultType="Cust">
		SELECT * FROM cust
	</select>
	<insert id="insert" parameterType="Cust">
		INSERT INTO cust VALUES (#{custid}, #{pwd}, #{name}, #{tel}, #{gender}, #{zipcode}, #{addr})
	</insert>
	<update id="update" parameterType="Cust">
		UPDATE cust SET pwd=#{pwd},name=#{name},tel=#{tel} WHERE custid=#{custid}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM cust WHERE custid=#{custid}
	</delete>
	
</mapper>