<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderdetMapper">
	
	<select id="select" parameterType="Integer" resultType="Orderdet">
		SELECT * FROM orderdet 
		where orderdetid= #{orderdetid}
	</select>
	
	<select id="selectall" resultType="Orderdet">
	SELECT * FROM orderdet
	</select>
	
	<insert id="insert" parameterType="Orderdet">
	INSERT INTO orderdet VALUES (null, #{orderid}, #{itemid}, #{ordercnt}, #{deladdr}, #{status})
	</insert>
	
	<update id="update" parameterType="Orderdet">
	UPDATE orderdet SET ordercnt=#{ordercnt}, deladdr=#{deladdr}, status=#{status}
	WHERE orderdetid=#{orderdetid}
	</update>
	
	<delete id="delete" parameterType="Integer">
	DELETE FROM orderdet WHERE orderdetid=#{orderdetid}
	</delete>
	
</mapper>